<div class="card" id="{{request.id}}">
    <div class="card-content">
        <div class="columns">
            <div style="width:4rem; padding:10px" >
                <div class="fixed-grid has-1-cols">
                    <div class="cell">
                        <div class="buttons is-centered">
                            <button class="card-footer-item button is-medium is-primary"
                                id="vote"
                                hx-put="/increase_rank"
                                hx-vars="{'id':'{{request.id}}'}"
                                hx-ext="json-enc"
                                hx-swap="innerHTML transition:true"
                                hx-target="next #rank-number">
                                <span class="icon is-medium">
                                <i class="fas fa-circle-arrow-up"></i>
                                </span>
                            </button>
                        </div>  
                    </div>
                    <div class="cell">
                        <p class="card-footer-item title is-4" style="margin-bottom:0" id="rank-number">{{request.rank}}</p>
                    </div>
                    <div class="cell">
                        <div class="buttons is-centered">
                            <button class="card-footer-item button is-medium is-warning"
                                id="vote"
                                hx-put="/decrease_rank"
                                hx-vars="{'id':'{{request.id}}'}"
                                hx-ext="json-enc"
                                hx-swap="innerHTML transition:true"
                                hx-target="previous #rank-number">
                                <span class="icon is-medium">
                                <i class="fas fa-circle-arrow-down"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="column">
                <p class="title">{{request.name}}</p>
                <p class="subtitle">{{request.description}}</p>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                          <span class="tag is-dark">priority</span>
                          <span class="tag is-{{priority_color}}">{{priority_mapped}}</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                          <span class="tag is-dark">product</span>
                          <span class="tag is-primary">{{request.product}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>        
    </div>
  </div>