<div id="feature-request-form" class="column column-80 column-offset-10">
    <form>
        <fieldset>
          <label for="feature-name">Feature</label>
          <input type="text" placeholder="Something Fishy" id="feature-name" name="name">
          <label for="feature-priority">Priority</label>
          <select id="feature-priority" name="priority">
            <option value="high">High</option>
            <option value="med">Medium</option>
            <option value="low">Low</option>
          </select>
          <label for="feature-description">Comment</label>
          <textarea placeholder="..." id="feature-description" name="description"></textarea>
          <input class="button" type="submit" 
            hx-post="/submit_feature" 
            hx-swap="afterbegin" 
            hx-target="#feature-request-list" 
            hx-ext="json-enc"
            value="Submit">
        </fieldset>
    </form>
</div>